<% layout('layouts/boilerplate.ejs') %>


    <div class="shadow-lg rounded mb-3" id="cluster-map">

    </div>



    <div class="container mb-5">
        <h2 class="mt-4 mb-4">All campgrounds</h2>
        <% for( let k=0; k<3; k++) { %>
            <% const c=campgrounds[k]; %>
                <div class="card mb-5 shadow rounded">
                    <div class="row">
                        <div class="col-md-4 d-flex justify-content-center rounded">

                            <% if (c.images.length) { %>
                                <img src="<%= c.images[0].url %>" class="dblock showPageImage img-fluid my-auto rounded"
                                    alt="campground image" crossorigin>
                                <% }else {%>
                                    <img src="https://res.cloudinary.com/ddlzbo6ut/image/upload/v1670355482/YelpCamp/Zrzut_ekranu_2022-12-06_203748_lmi0hs.jpg"
                                        class="showPageImage img-fluid my-auto rounded" alt="campground image"
                                        crossorigin>
                                    <% } %>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/campgrounds/<%= c._id %>">
                                        <%= c.title %>
                                    </a>
                                </h5>
                                <p class="card-text">
                                    <%= c.description %>
                                </p>
                                <p class="card-text"><small class="text-muted">
                                        <%= c.location %>
                                    </small></p>
                                <a href="/campgrounds/<%= c._id %>" class="btn btn-primary">View more</a>
                            </div>

                        </div>
                    </div>
                </div>


                <% } %>
    </div>

    <div class="loading">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>

    <script>
        const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
        const campgrounds = { features: <%-JSON.stringify(campgrounds) %>};
    </script>
    <script src="/javascripts/clusterMap.js"></script>

    <script src="/javascripts/infinityScroll.js"></script>
    <!-- <script src="/javascripts/infinityScroll.js"></script> -->